<ion-view title="Login">
  <ion-content class="has-header padding">
  <form ng-submit="login()">
        <div class="padding">
          <label class="item item-input">
            <input type="text" placeholder="Username:" id = "name" ng-model="name">
          </label>
		  <label class="item item-input">
            <input type="password" placeholder="Password:" ng-model="pwd">
          </label>
        </div>
		<div class="padding">
        <button type="submit" class="button button-positive button-block">Submit</button>
		</div>
		</form>
  </ion-content>
</ion-view>
