<ion-view title="Friends">
  <ion-content class="has-header">
  <ion-list>
	Groups
      <ion-item ng-repeat="(key,value) in friends" type="item-text-wrap" >
		<div ng-click="expanded = !expanded"> Group {{key}} 
		<button ng-click="joinGroup(key);">Join</button> </div>
            <p  ng-repeat="usr in value" ng-class="{slideDown: expanded}">
                    {{usr.first_name}} {{usr.last_name}} 
				</p>
      </ion-item>	
    </ion-list>
    <ion-list>
	Individuals
      <ion-item ng-repeat="walker in walkers" ng-if="walker.grp_id == null" type="item-text-wrap" >
                    {{walker.first_name}} {{walker.last_name}}
					
      </ion-item>	
    </ion-list>
  </ion-content>
</ion-view>
