<ion-view title="Friends">
  <ion-content class="has-header">
  <ion-list>
	Groups
      <ion-item ng-repeat="(key,value) in friends" ng-if = "value.grp_id != null" type="item-text-wrap" >
        
		<a ng-click="expanded = !expanded" href="#"> Group {{value.grp_id}}</a>
            <p ng-class="{slideDown: expanded}">
                <ul id="{{key}}" style="display: none;">
                    {{value.first_name}} {{value.last_name}}
                </ul>
				</p>
      </ion-item>	
    </ion-list>
    <ion-list>
	Individuals
      <ion-item ng-repeat="(key, item) in friends" ng-if = "item.grp_id == null" type="item-text-wrap" href="#/tab/friend/{{item.gt_id}}">
        {{item.first_name}} {{item.last_name}}
      </ion-item>	
    </ion-list>
  </ion-content>
</ion-view>
