<ion-view title="Select destination and time">
  <ion-content class="has-header padding">
  <div class="padding" >
	 Welcome <label id = "name" ng-model ="name"/>{{name}}
	 </div>
  
  <div class="padding">
   <div class="list">
		<label class="item item-input">
            <input id ="address" type="text" placeholder="Destination:" ng-model="address">
			</label>
			<select ng-model="clientSideValue" id="clientSideValue">
          <option ng-repeat="item in clientSideList" ng-value="item.loc_name">
            {{item.loc_name}}
          </option>
        </select>
          
	  </div>
	  </div>
      <div id="map" class="padding"></div>
	  
		<div class="padding">
		<label class="item item-input">
  <span class="input-label">Time</span>
  <input type="time" id ="time">
</label>
</div>
<form ng-submit="newWalker()">
		<div class="padding">
		 <button type="submit" class="button button-positive button-block">Submit</button>
		</div>
		</form>
  </ion-content>
</ion-view>
