<ion-view title="Select destination and time">
  <ion-content class="has-header padding">
  <div class="padding">
		<label class="item item-input">
            <input id ="address" type="text" placeholder="Destination:" ng-model="address" class="combo-input">
          </label>
	  </div>
      <div ng-show="mapVisible" id="map" class="padding"></div>
	  
		<div class="padding">
		<label class="item item-input">
  <span class="input-label">Time</span>
  <input type="time">
</label>
</div>
		<div class="padding">
        <a class="button" href="#/tab/friends">Submit</a>
		</div>
  </ion-content>
</ion-view>
