/* Empty. Add your own CSS if you like */
#map {
    width: 100%;
    height: 50%;
}

.scroll {
    height: 100%;
}

.angular-google-map-container { width:100%; min-height: 50px; height: 50%; }
p{
display:none;
}
body, html {
  height: 100%;
  width: 100%;
}
.tabs-hide .tabs {
    display: none;
}